/* comments in CSS start and end with astricks and slashes */
/* changing background color and the margin (spacing) between the edges and our content */
body {
    background: #E5EB4B; 
    margin: 30px;
}

/* changing the font, size and color of first level headers */
h1 {
    font-family: Arial, sans-serif; 
    font-size: 38px; 
    color: #fff;
}

/* changing font and color of paragraph text*/
p {
    font-family: Georgia, serif; 
    color: #7E8119;
}

/* put some space on top of the image and tell the different browsers what kind of animatin to do */
.paw { 
    margin-top: 20px;
    -webkit-animation: rotation 2s linear infinite; 
    -moz-animation: rotation 2s linear infinite; 
    -ms-animation: rotation 2s linear infinite;
}

/* explain for bowsers how much to rotate in the animation */
@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}
textarea {
    width: 40px;
}

#calculator-box {
    background: #00D4B1; width: 300px; padding: 20px;
}

#revealAnswer {
    font-family: Georgia, serif; 
    font-size: 40px; 
    color: #fff;
}

.calc-text {
    font-family: Arial, sans-serif; 
    text-transform: uppercase; 
    font-size: 14px; 
    font-weight: bold; 
    color: #E5EB4B; 
    margin-top: -3px;
}